<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.admin.inventory">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".activites.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">


        </activity>
        <activity android:name=".splash_Activity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activites.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activites.addUser_Activity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activites.PurchaseEntry"
            android:label="Purchase Entry"
            android:theme="@style/AppTheme" />
        <activity android:name=".activites.Additems" />
        <activity android:name=".activites.PurchaseUserActivity" />
        <activity
            android:name=".activites.Show_vendorDetails"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activites.VendorActivity"
            android:label="Add Vendor"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activites.updateVendors"
            android:label="Update Vendor"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activites.show_Userdetails"
            android:label="@string/title_activity_show__userdetails"
            android:theme="@style/AppTheme.NoActionBar" />

    </application>

</manifest>